<% provide(:title, 'Collaborator Profile') %>

<h1>Name: <%= @collaborator.name %></h1>
<h3>Email: <%= @collaborator.email %></h3>
<div>
   <%= link_to "Update Collaborator Profile", edit_collaborator_path(@collaborator), class: "btn-primary" %>
</div>
