<% provide(:title, 'View Project') %>
<h1>ProjectName: <%= @project.name %></h1>
<p>Project Description: <%= @project.description %></p>
<p>Start Date: <%= @project.start %></p>
<p>End Date: <%= @project.end %></p>
